 @font-face{
  font-family:vvv ;
  src:url(../fonts/static/Nunito-Regular.ttf);
}

body{
	font-family:vvv;
	background-color:#e8ecfc;

}
input{
	font-family:vvv;
}
button{
	font-family:vvv;
}
.h2{
	text-align: center;
	color: #6495ED;
	text-decoration-color: #6495ED
}

.lik{
	font-family:vvv ;
	border-style: solid;
	border-width: 10px;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	border-color: #6495ED;
	padding-bottom: 20px;
}

.pol{
	font-family:vvv ;
	  background: #6495ED;
	border-radius: 7px;
	width: 200px; 
	text-align: center;
}
.butt{
	font-family:vvv ;
	background: white;
	border-radius: 25px;
	width: 150px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.butt:hover {
  box-shadow: 0 0 40px 40px #6495ED inset;

}
.logo{
	width: 10px;
	margin-left: 370px;
}